.reason-1, .reason-2, .reason-3, .date-2, .date-3, 
.date, .img-3yt, .img-1t, .img-2f
{ display: inline-block; background: url('png.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.reason-1 { background-position: -20px -0px; width: 75px; height: 72px; }
.reason-2 { background-position: -20px -92px; width: 74px; height: 70px; }
.reason-3 { background-position: -20px -182px; width: 64px; height: 76px; }
.date-2 { background-position: -20px -278px; width: 21px; height: 22px; }
.date-3 { background-position: -20px -320px; width: 21px; height: 22px; }
.date { background-position: -20px -362px; width: 21px; height: 22px; }
.img-3yt { background-position: -20px -404px; width: 20px; height: 16px; }
.img-1t { background-position: -20px -440px; width: 16px; height: 15px; }
.img-2f { background-position: -61px -278px; width: 10px; height: 19px; }
