body{
	font-family: 'PT Sans','Arial', sans-serif;
	font-size: 13px;
	color: #000000;
}


.container{
	max-width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.btn{
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	line-height: 16px;
	background: #ee3643;
	border-radius: 3px;
	border: none;
	padding: 12px 70px;
}
.btn:hover{
	background: #ca2c37;
}
.btn:active{
	background: #ba2732;
}
/*Шапка*/
.top-header{
	background: #293449;
	min-height: 42px;
}
.top-header-flx{
	display: flex;
}
/*Верх шапки*/
	.main-logo{
		padding: 6px 5.851%;
		box-shadow: #c02c36 0 5px 0 0 ;
		font-family: 'Cuprum', 'Arial', sans-serif;
		font-size: 24px;
		line-height: 30px;
		text-decoration: none;
		text-transform: uppercase;
		color: white;
		background: #ee3643;
		display: inline-block;
		}
		.main-logo:hover{
			background-color: #ca2c37;
		}
		.main-logo:acive{
			background-color: #ba2732;
		}
	.search-header-form{
		width: 28.125%;
		position: relative;
	}
	.search-header-form input{
		width: 100%;
		height: 100%;
		padding-left: 50px;

		font-family: "Cuprum", "Arial", sans-serif;
		font-size: 17px;
		color: white;
		background: none;
		border: none;
	}
	.search-header-form input:focus{
		background: #fff;
		color: #000;
	}
	.search-header-form label{
		display: block;
		content: "";
		position: absolute;
		top:50%;
		left: 17px;
		margin-top: -8px;
		width: 17px;
		height: 17px;
		background: url(img/icons-sprite.png);
		background-position: -10px -504px;
		opacity: 0.3;
	}
	.search-header-form input:focus ~ label{
		background-position: -10px -477px;
	}
	.search-header-form input:hover ~ label{
		opacity: 1;
	}
	.search-header-form input::placeholder{
		color: #fff;
	}
	.btn-user{
		text-decoration: none;
		color: white;
		font-family: "Cuprum", "Arial", sans-serif;
		font-size: 17px;
		color: white;
		padding-top: 10px;

		position: relative;
	}
	.order{
		background: #63a63e;
		text-align: center;
		width: 15.9574%;
	}
	.order:hover{
		background: #5fbb2d;
	}
	.order:active{
		background: #518534;
	}
	.bockmarks,
	.cart{
		width: 12.234%;
		padding-left:35px;
	}
	.bockmarks::before,
	.cart::before{
		content: "";
		display: block;
		width: 17px;
		height: 17px;
		background: url(img/icons-sprite.png);
		position: absolute;
		left: 0;
		opacity: 0.3;
	}
	.bockmarks:hover::before,
	.cart:hover::before{
		opacity: 1;
	}
	.bockmarks::before{
		background-position: -64px -298px;
	}
	.cart::before{
		background-position: -40px -456px;
	}
/*Середина шапки*/
.basic-header{
	background: #f1f5f7;
}
.midden-header{
	display: flex;
	justify-content: space-between;

	padding-top: 45px;
}
	.UTP{
		width: 22.34%; 
		padding-left: 5.319%;

		font-family: "Cuprum", "Arial", sans-serif;
		font-style: italic;
		font-size: 16px;
		line-height: 23px;
		color: #ee3643;
	}
	.UTP p{
		margin:0;
	}
	.contacts-header{
		width: 28.7234%;
	}
		.tel{
			border: 3px white solid;
			color: #e9292a;
			font-family: "Cuprum","Arial",sans-serif;
			font-size: 21px;
			text-align: center;

			position: relative;
		}
		.tel p{
			margin: 0;
			padding: 8px;
		}
		.tel p::before{
			content: "";
			display: block;
			width: 19px;
			height: 19px;
			background: url(img/icon-phone.png);

			position: absolute;
			left: 6%;
			top:50%;
			margin-top: -9.5px;
		}
		.adress{
			text-align: center;
			font-family: "Cuprum","Arial",sans-serif;
			font-size: 14px;
			line-height: 21px;
			margin: 0;
		}
	.user-block{
		font-size: 0;
		width: 30%;
	}
		.user-btn{
			display: inline-block;
			font-family: "Cuprum","Arial",sans-serif;
			font-size: 21px;
			line-height: 23px;
			background: #fff;
			text-decoration: none;
			color: #000;
			padding: 13px 24px;
		}
		.user-btn:hover{
			color: #ee3643;
		}
		.user-btn-in{
			padding-left: 50px;
			margin-right: 10px;

			position: relative;
		}
		.user-btn-in::before{
			content: "";
			display: inline-block;
			width: 20px;
			height: 17px;
			background: url(img/icons-sprite.png);
			background-position: -10px -423px;
			position: absolute;
			left: 15px;
			top:50%;
			margin-top: -8.5px;

			
		}
		.user-btn-in:hover::before{
			background-position: -40px -429px;
			
		}
	/*меню*/
	.main-menu{
		padding-bottom: 60px;
		margin-top:40px;
	}
	.main-menu ul{
		display: flex;
		justify-content: space-between;

		width: 100%;
		list-style: none;
		margin: 0;
		padding: 0;

		box-shadow:#293449 0 5px 0 0;
	}
	.main-menu li{
		flex-grow: 1;
	}
	.main-menu a{
		display: inline-block;
		font-family: "Cuprum","Arial",sans-serif;
		font-size: 17px;
		line-height: 20px;
		color: #fff;
		text-decoration: none;
		padding: 17px 0px;
		background: #32425c;
		width: 100%;
		text-align: center;
	}
	.main-menu a:hover{
		background: #293449;
	}
/*Основной контент*/
main{
	margin-top: 60px;
}
/*Каталог меню*/
.catalog-menu{
	display: flex;
	justify-content: space-between;
}
	.catalog-menu-item{
		width: 29.575%;

		padding-left: 2.34%;
		padding-top: 22px;
		padding-bottom: 22px;
		font-family: "Cuprum","Arial",sans-serif;

		position: relative;
	}
	.catalog-menu-item:first-child{
		background: #f6b22d;
	}
	.catalog-menu-item:first-child::after{
			content: "";
			display: block;
			width: 44px;
			height: 65px;
			background: url(img/icons-sprite.png);
			background-position: -10px -298px;

			position: absolute;
			top:30px;
			left: 71%;
		}
	.catalog-menu-item:nth-child(2){
		background: #4aafde;
	}
	.catalog-menu-item:nth-child(2)::after{
			content: "";
			display: block;
			width: 75px;
			height: 61px;
			background: url(img/icons-sprite.png);
			background-position: -10px -145px;

			position: absolute;
			top:30px;
			left: 65.66%;
		}
	.catalog-menu-item:last-child{
		background: #cc79d1;
	}
	.catalog-menu-item:last-child::after{
		content: "";
			display: block;
			width: 78px;
			height: 62px;
			background: url(img/icons-sprite.png);
			background-position: -10px -0px;

			position: absolute;
			top:30px;
			left: 63.33%;
	}
		.catalog-menu-item h2{
			margin: 0;
			padding: 0;
			font-size: 24px;
			line-height: 30px;
			color: #fff;
		}
		.btn-catalog-menu{
			display: inline-block;
			color: #fff;
			text-decoration: none;
			font-size: 14px;
			line-height: 14px;
			padding: 12px 25px;
			background: rgba(0, 0, 0, 0.1);
			border-radius: 3px;
			text-transform: uppercase;
			margin-top: 12px;
		}
		.btn-catalog-menu:hover{
			background: rgba(0, 0, 0, 0.2);
		}
		.btn-catalog-menu:active{
			background: rgba(0, 0, 0, 0.3);
		}
/*Промо блок*/
.promo-block{
	display: flex;
	justify-content: space-between;
	 margin-top: 20px;
}
	.slider-promo{
		width: 66.064%;
	}
		.slide{
			width: 100%;
			height: 100%;

			position: relative;
		}
		.slide-title{
			position: absolute;
			width: 100%;
			color: white;
			padding: 27px 24px;
			
		}
		.slide-title h1,
		.slide-title p{
			margin: 0;
			padding: 0;
		}
		.slide-title h1{
			font-family: "Cuprum","Arial",sans-serif;
			font-size: : 36px;
			line-height: 36px;
			font-weight: 700;
		}
	.promo-info{
		width: 31.915%;
	}
	.promo-info-item{
		background: #85d179;
		padding-left: 7.33%;
		padding-top: 22px;
		padding-bottom: 22px;
		font-family: "Cuprum","Arial",sans-serif;

		position: relative;
	}
	.promo-info-item::after{
		content: "";
		display: block;
		width: 78px;
		height: 78px;
		background: url(img/icons-sprite.png);

		position: absolute;
		top:30px;
		left: 63.33%;
	}
	.promo-info-item.promo-action::after{
		background-position: -10px -216px;
	}
	.promo-info-item.promo-delivery::after{
		background-position: -10px -67px;
	}
	.promo-info-item:last-child{
			background:#f6b22d;
			margin-top: 20px;
	}
	.promo-info-item h2{
		margin: 0;
		padding: 0;
		font-size: 24px;
		line-height: 30px;
		color: #fff
	}
/*Каталог*/
.popular{
	margin-top: 50px;
}
	.popular-title{
		display: flex;
		justify-content: space-between;
	}
	.popular-title,
	.manufactures-title{
		background: #f7f3ec;
		padding: 23px 30px;
	}
	.popular-title b,
	.manufactures-title b{
		font-family: "Cuprum","Arial",sans-serif;
		font-weight: 500;
		font-size: 30px;
		text-transform: uppercase;
		color: #32425c;
		line-height: 40px;
	}
.products{
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}
	.product-item{
		width: 23.404%;
		border: 1px solid #e5e5e5;
		overflow: hidden;
		position: relative;
		text-align: center;
	}
	.product-item img{
		height: 112px;
		margin-top: 35px;
	}
	.product-item h2{
		display: inline-block;
		margin-top: 36px;
		margin-bottom: 0;
		width: 80%;
		font-size: 18px;
		line-height: 20px;
	}
	.old-price{
		font-weight: 700;
		font-size: 17px;
		line-height: 20px;
		color: #999999;
		text-decoration: line-through;
		margin: 0;
		margin-top: 16px;
	}
	.product-new .old-price{
		visibility: hidden;
	}
	.price{
		display: inline-block;
		font-size: 17px;
		line-height: 20px;
		font-weight: 700;
		color: white;
		background: #ee3643;
		padding: 11.5px 20px 11.5px 35px;
		margin: 13px 0 20px 0;

		position: relative;
	}
	.price::after{
		content: "";
		display: block;
		width: 0;
		height: 0;
		border-left: 21.5px solid transparent;
		border-right: 21.5px solid transparent;
		border-bottom: 17px solid #ee3643;
		transform: rotate(90deg);

		position: absolute;
		top: 13px;
		right: -30px;
	}

	.product-item:hover img{
		visibility: hidden;
	}
	.product-item:hover .product-item-btn{
		display: block;
	}
	.product-item:hover{
		box-shadow: 0px 10px 25px 1px rgba(34, 51, 68, 0.5);
	}
	.product-new::before{
		content: "new";
		display: block;
		width: 80px;
		
		background: #ee3643;
		transform: rotate(45deg);
		text-align: center;
		color:white;
		font-family: "Cuprum","Arial",sans-serif;
		font-size: 14px;
		padding: 8px 0;
		overflow: hidden;

		position: absolute;
		top: -1px;
		right: -23px;
	}
	/*При наведении на продукт (Кнопки)*/
	.product-item-btn{
		display: none;
		width: 100%;
		height: 85px;
		text-align: center;

		position: absolute;
		top: 45px;
	}
	.btn-buy,
	.btn-boockmarks{
		display: inline-block;
		text-align: center;
		border:none;
		border-radius: 5px;
		font-family: "Cuprum","Arial",sans-serif;
		font-size: 14px;
		line-height: 14px;
		text-transform: uppercase;

	}
	.btn-buy{
		background: #63a63e;
		box-shadow: 0 3px 0px 0 #367315;
		padding: 10.5px 45px 10.5px 49px;
		color: #fff;

		margin-bottom: 7px;
		position: relative;
	}
	.btn-buy::before{
		content: "";
		display: block;
		width: 17px;
		height: 17px;
		background: url(img/icons-sprite.png);
		background-position: -40px -456px;
		opacity: 0.3;
		
		position: absolute;
		left: 15px;
		top: 50%;
		margin-top: -8.5px;
	}
	.btn-buy:hover::before{
		opacity: 1;
	}
	.btn-buy:hover{
		background: #5fbb2d;
	}
	.btn-buy:acive{
		background: #518534;
	}
	.btn-boockmarks{
		border: 3px solid #63a63e;
		background: none;
		padding: 10.5px 30px;
		color: #32425c;
	}
	.btn-boockmarks:hover{
		border-color: #32425c;
	}
	.btn-boockmarks:active{
		opacity: 0.3;
	}
/*Популярные производители*/
.popular-manufactures{
	margin-top: 20px;
}
	.manufactures-title{
		display: flex;
		justify-content: space-between;
	}
	.manufactures{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;

		margin-top: 20px;
		min-height: 330px;
	}
	.manufactures-item{
		width: 23.404%;
		min-height: 145px;
		border: 1px solid #e5e5e5;
	}
	.manufactures-item a{
		display: flex;
		width: 100%;
		height: 145px;
	}
	.manufactures-item img{
		margin: auto;
		max-width: 100%;
	}
	.manufactures-item:hover{
		box-shadow:0 10px 25px 0.5px rgba(34, 52, 69, 0.5);
	}
/*Сервисы*/
.services{
	margin-top: 30px;
	background: #f2f6f8;
	padding-top: 65px;
}
	.intro-services{
		width: 42.55%;
	}
	.intro-services b{
		font-family: "Cuprum","Arial",sans-serif;
		font-size: 24px;
		line-height: 24px;
		font-weight: 500;
		text-transform: uppercase;
	}
	.intro-services p{
		margin: 0;
		padding: 0;
		margin-top: 32px;
		font-size: 13px;
		line-height: 24px;
		font-weight: 400;
	}
	.service-column{
		display: flex;
		justify-content: space-between;
		margin-top: 38px;
		min-height: 280px;
	}
	.menu-services{
		width: 25.53%;
		position: relative;
	}
	.menu-services::after{
		content: "";
		display: block;
		width: 10px;
		height: 272px;
		background: url(img/fon-menu-services.png);

		position: absolute;
		top: 50%;
		margin-top: -183px;
		right: 0;
	}
	.menu-services ul{
		margin:0;
		padding: 0;
		list-style-type: none;
	}
	.menu-services li{
		display: inline-block;
		width: 100%;
	}
	.menu-services label{
		display: inline-block;
	 	background: #32425c;
		width: 100%;
		color: white;
		padding:18px 22px;
		box-sizing: border-box;
		cursor: pointer;
		border-top: 1px solid #4a586e;
		border-bottom: 1px solid #33425b;

		font-family: "Cuprum","Arial",sans-serif;
		font-size: 21px;
		line-height: 21px;
		font-weight: 700px;
	}
	.menu-services label:hover{
		background: #fff;
		border-color: #fff;
		color: #32425c;
	}
	#delivery:checked ~ .menu-services label[for=delivery],
	#guarantee:checked ~ .menu-services label[for=guarantee],
	#credit:checked ~ .menu-services label[for=credit]{
		background: #fff;
		border-color: #fff;
		color: #32425c;
	}
	.services-description{
		width: 65.96%;
	}
	.service-item-delivery{
		width: 100%;
		min-height:280px;
		background: url(img/services-delivery.png) no-repeat;
		background-position: right bottom;
	}
	.service-item-guarantee{
		width: 100%;
		min-height:280px;
		background: url(img/services-guarantee.png) no-repeat;
		background-position: right;
	}
	.service-item-credit{
		width: 100%;
		min-height:280px;
		background: url(img/services-credit.png) no-repeat;
		background-position: right;
	}
		.service-item h3{
			font-family: "Cuprum","Arial",sans-serif;
			font-size: 36px;
			font-weight: 500;
			color: #32425c;
			margin: 0;
			padding: 0;
		}
		.service-item p{
			margin: 0;
			padding: 0;
			margin-top: 35px;
			font-size: 13px;
			line-height: 24px;
		}
		.service-item-delivery p{
			width: 280px;
		}
		.service-item-guarantee p{
			width: 380px;
		}
		.service-item-credit p{
			width: 286px;
		}
	.service-item-delivery,
	.service-item-guarantee,
	.service-item-credit{
		display: none;
	}
input[name="services"]{
		display: none;
	}
#delivery:checked	~ .services-description .service-item-delivery,
#guarantee:checked	~ .services-description .service-item-guarantee,
#credit:checked	~ .services-description .service-item-credit{
	display: block;
}
/*Блок о компании и карта*/
.datail{
	display: flex;
	justify-content: space-between;
	margin-top: 80px;
}
	.datail-discrption{
		width: 57.447%
	}
	.detail-title{
		margin: 0;
		padding: 0;
		margin-bottom: 4px;
		font-family: "Cuprum","Arial",sans-serif;
		font-size: 24px;
		line-height: 24px;
		font-weight: 500;
		color: #000;
		text-transform: uppercase;
	}
	.datail-discrption p{
		margin: 0;
		padding: 0;
		font-size: 13px;
		line-height: 24px;
		margin-top: 30px;
	}
	.datail-discrption ul{
		margin: 0;
		font-family: "Cuprum","Arial",sans-serif;
		font-size: 18px;
		line-height: 43px;
		list-style: none;

		position: relative;
	}
	.datail-discrption ul li::before{
		content: "";
		display: block;
		width: 25px;
		height: 2px;
		background: #ee3643;
		float: left;
		position: absolute;
		margin-left: -35px;
		margin-top: 21px;
	}
	.datail-discrption a.btn{
		margin-top: 13px;
	}
	.contacts{
		width: 31.915%;
	}
	.contacts p{
		width: 58.044%;
		font-size: 13px;
		line-height: 24px;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.contacts a.btn{
		margin-top: 40px;
		width: 100%;
		box-sizing: border-box;
		padding-left: 0;
		padding-right: 0;
		text-align: center;;
	}
/*Футер*/
.main-footer{
	background: #32425c;
	margin-top: 85px;
	color: white;
}
	.ftr-columns{
		display: flex;
		justify-content: space-between;		
	}
		.left-align{
			width: 35.64%;
		}
			.btn-logo{
				padding: 6px 42px;
				box-shadow: #c02c36 0 5px 0 0 ;
				font-family: 'Cuprum', 'Arial', sans-serif;
				font-size: 24px;
				line-height: 30px;
				text-decoration: none;
				text-transform: uppercase;
				color: white;
				background: #ee3643;
				display: inline-block;
			}
			.left-align p{
				margin: 0;
				font-family: 'Cuprum', 'Arial', sans-serif;
				font-size: 18px;
				line-height: 24px;
				margin-top: 31px;
			}
		.right-align{
			width: 58.511%;
			margin-top: 40px;
		}
		.right-align a:hover{
			text-decoration: underline;
		}
		.right-align a:active{
			opacity: 0.5;
		}
			.top-right-align{
				display: flex;
				justify-content: space-between;
				list-style: none;
				margin: 0;
			}
			.top-right-align a{
				text-decoration: none;
				color: white;
				font-family: 'Cuprum', 'Arial', sans-serif;
				font-size: 18px;
				line-height: 24px;
				font-weight: 500;
			}
		.bottom-right-align{
			display: flex;
			justify-content: space-between;
			list-style: none;
			margin: 0;
			margin-left: 25px;
			margin-top: 43px;
		}
		.bottom-right-align a{
			text-decoration: none;
			color: #ffd180;
			font-family: 'Cuprum', 'Arial', sans-serif;
			font-size: 18px;
			line-height: 24px;
			font-weight: 500;
		}

	.bottom-footer{
		background: #293449;
		margin-top: 45px;
		padding-top: 39px;
		padding-bottom: 36px;
	}
		.btm-ftr-flx{
			display: flex;
		}
			.copyright{
				width: 24.468%
			}
				.copyright p{
					margin: 0;
					padding: 0;
					font-family: 'Cuprum', 'Arial', sans-serif;
					font-size: 16px;
					line-height: 18px;
				}
			.social{
				width: 14.149%;
				margin-left: 17.021%;
			}
				.btn-social{
					font-size: 0;
					display: inline-block;
					width: 40px;
					height: 40px;
					border-radius: 100px;
					background: rgba(0, 0, 0, .4);
					}
				.btn-social:hover{
					background: #ee3643;
				}
				.btn-social::after{
					content: "";
					display: block;
					width: 20px;
					height: 20px;
					background: url(img/icons-sprite.png);
					margin: 0 auto;
					margin-top: 10px;
				}
				.btn-social-vk::after{
					background-position: -10px -368px;
				}
				.btn-social-fb::after{
					background-position: -59px -324px;
				}
				.btn-social-inst::after{
					background-position: -35px -481px;
				}
			.callback{
				width: 14.894%;
				margin-left: 12.765%;
			}
				.callback p{
					margin: 0;
					font-family: 'Cuprum', 'Arial', sans-serif;
					font-size: 16px;
					line-height: 18px;
				}
			.developed{
				width: 11.28%;
				margin-left: auto;
			}
				.developed p{
					margin: 0;
					font-family: 'Cuprum', 'Arial', sans-serif;
					font-size: 16px;
					line-height: 18px;
				}
				.yelow-link,
				.yelow-link a{
					color: #ffd180;
					text-decoration: none;
				}
				.yelow-link:hover,
				.yelow-link a:hover{
					text-decoration: underline;
					cursor: pointer;
				}
				.yelow-link:active,
				.yelow-link a:active{
					color: #ee3643;
				}
/*Модальные окна*/
.modal-content{
	position:fixed;
	top:10px;
	left: 50%;
	margin-left: -310px;
	background: #fff;
	border-top: solid 7px #ee3643;
	
	width:620px;
	box-sizing: border-box;
	transform: fadeInUpBig;

}
.modal-form{
	padding: 40px 80px 0 80px;
}
.modal-form form{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}
.modal-form input,
.modal-form textarea{
	font-size: : 13px;
	line-height: 16px;
	padding: 11px 13px;
	border-radius: 3px;
	border: 2px solid #d7dcde;
	box-sizing: border-box;
}
.modal-form input[type="text"],
.modal-form input[type="email"]{
	width: 220px;
}
.modal-form .modal-comment-flx{
	width: 100%;
}
.modal-comment-flx textarea{
	width: 100%;
	height: 110px;
}
.modal-form label{
	display: block;
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
	margin-bottom: 11px;
}
.modal-btn{
	height: 110px;
	width: 100%;
	background: #eee;
	margin-top: 35px;
}
.modal-form input[type="submit"]{
	position: absolute;
	bottom: 35px;
	width: 460px;
	border-radius:3px;
}
.close-form{
	position: absolute;
	right: 0px;
	top: 0px;
	font-size: 0;
	border: none;
	display: inline-block;
	width: 50px;
	height: 50px;
	background: none
}
.close-form::before,
.close-form::after{
	content: "";
	display: block;
	width: 25px;
	height: 4px;
	background: #ee3643;
	position: absolute;
	top: 20px;
	right: 10px;
	cursor: pointer;
}
.close-form::before{
	transform: rotate(45deg);
}
.close-form::after{
	transform: rotate(-45deg);
}
.close-form:hover::before,
.close-form:hover::after{
	background: #ba2732;
}
@keyframes fadeInUpBig {
  from {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
