@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199.98px)
	/**/
	

/* Medium Devices, Desktops */
@media only screen and (max-width : 991.98px)
	/*.main-header*/
	.main-header__phonebox
		margin-left: 0
	.main-header__logo
			margin-right: 30px
	.main-header__title
		font-size: 24px

	//.company
	.company__content
		margin-top: 90px
		margin-bottom: 0
	
	.company__content
		line-height: 30px

	//form-10p
	.form-10p__btn
		margin: auto
		margin-top: 20px
	//stainless-advantages
	.stainless-advantages__list
		&:before
			display: block
/* Small Devices, Tablets */
@media only screen and (max-width : 767.98px)
	/**/
	.main-header__promo
		margin-top: 20px
	.main-header__title
		font-size: 20px
	.features__item--md-hidden
		+vh
	.features__items
		justify-content: space-around

	//form-10p
	.form-10p__icon
		margin: auto
		
		width: 70%
	.form-10p__icon:nth-child(2)
		margin: auto
		margin-top: 20px
	.form-10p__input
		width: 100%
/* Extra Small Devices, Phones */
@media only screen and (max-width : 575.98px)
	
	body
		font-size: 16px
		//.main-header
	.main-header__logo
		margin-left: 0
		margin-bottom: 10px
	.logo__promo
		+vh
	.main-header__phone-items
		margin: auto
	.main-header__btn
		margin: auto
		margin-top: 10px
	
	.main-header__promo
		max-width: 100%

	.main-header__title
		font-size: 16px
		padding: 5px
		max-width: 320px
	.features__item--md-hidden
		display: block
	.main-header__utp
		font-size: 16px
		max-width: 250px

	.main-header__buttons
		width: 100%
		justfy-content: center
		flex-wrap: wrap
		margin-top: 0
	.main-header__button
		margin-top: 30px
	.main-header__btn-more
		display: none
	.main-header__utp--sm-hidden
		+vh
	.main-header__features
		margin-top: 30px
	.main-header__utp
		margin-top: 30px
		//.callback
	.callback__wrapper
		width: 300px
	.callback__content
		max-width: 300px
	.callback__content:after
		Background-image: linear-gradient(90deg, $accent 0%, $accent 14%, transparent 14%, transparent 86%, $accent 86%, $accent 100%)
	.callback__text 
		display: block
		margin-top: -8px
		font-size: 16px
		font-weight: 700
		line-height: 17px
	.callback__btn
		padding: 8px
		font-size: 12px
		line-height: 14px
		top: 0
	

		//company
	.company__title
		font-size: 1.4em
	.company__item
		margin-top: 20px
		//form-10p
	.form-10p__call-you
		font-size: 12px
	//stainless-advantages
	.stainless-advantages__list
		&:before
			display: none
/*==========  Mobile First  ==========*/

/* Extra Small Devices, Phones */
@media only screen and (min-width : 576px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	.main-header
			height: 42vh
	/**/

