@import "vars"
@import "fonts"
@import "libs"
@import "hexagon"


::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

html, body
	height: 100%

body
	font-size: 22px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	input, textarea
			border: #666 1px solid
			outline: none
			&:focus:required:invalid
				border-color: red
			&:required:valid
				border-color: green

.inverse


.visually-hidden
	position: absolute !important
	clip: rect(1px 1px 1px 1px)
	clip: rect(1px, 1px, 1px, 1px)
	padding:0 !important
	border:0 !important
	height: 1px !important 
	width: 1px !important 
	overflow: hidden

.btn
  -webkit-border-radius: 4
  -moz-border-radius: 4
  border-radius: 4px
  color: #F4424E
  text-transform: uppercase
  background: none
  font-size: 16px
  line-height: 18px
  font-weight: 700
  padding: 10px 10px 10px 10px
  border: solid #F4424E 2px
  text-decoration: none
  transition: all 0.25s ease
  text-decoration: none

.btn:hover
	cursor: pointer
	color: $light
	border-color: $light
	text-decoration: none
	
.accent-text
	color: $accent

#my-menu 
    background-color: $grau
    
.mm-menu   
	width: 350px !important   

html.mm-opening .mm-slideout
	-webkit-transform: translate(350px, 0) !important
  -moz-transform: translate(350px, 0) !important
  -ms-transform: translate(350px, 0) !important
  -o-transform: translate(350px, 0) !important
  transform: translate(350px, 0) !important
.hamburger.hamburger--stand
	appearance: none
.hamburger
	position: fixed
	top: 15px
	left: 0
	z-index: 100
.logo__img--favicon
	display: block
	width: 80px
	height: 80px
	border: $accent 2px dotted
	font-family: marckscript
	font-weight: 700
	font-size: 80px
	line-height: 90px
	margin-left: 50%
	transform: translateX(-50%)
	cursor: context-menu
.mm-menu .mm-navbar a, .mm-menu .mm-navbar>*
	color: #000
	transition: color 0.3s ease
.mm-menu .mm-navbar a:hover, .mm-menu .mm-navbar>*:hover
	color: rgba(0, 0, 0, 1)
	cursor: context-menu
.mm-navbar
	height: auto
	position: relative
	border-bottom: none
	margin-bottom: 40px
.mm-panels>.mm-panel.mm-hasnavbar
	padding-left: 20px
	padding-top: 0
.mm-menu .mm-selected a,
.mm-listview>li:hover
	color: $accent
	transition: color 0.25s ease
.mm-menu .mm-listview>li.mm-selected>a:not(.mm-next), .mm-menu .mm-listview>li.mm-selected>span
	background: none
panel>.mm-listview:first-child, .mm-panels>.mm-panel>.mm-navbar+.mm-listview
    margin-top: 0
.mm-listview
	padding-left: 100px	
.main-nav__item
	text-transform: uppercase
.main-nav__item--home::before
	content: "\f0a6"
	font-family: 'fontawesome'
	position: absolute
	top: 50%
	transform: translateY(-50%)
	left: -15px
	font-size: 20px
.main-nav__item--company::before
	content: "\f0f7 "
	font-family: 'fontawesome'
	position: absolute
	top: 50%
	transform: translateY(-50%)
	left: -15px
	font-size: 20px
.main-nav__item--works::before
	content: "\f0e3  "
	font-family: 'fontawesome'
	position: absolute
	top: 50%
	transform: translateY(-50%)
	left: -15px
	font-size: 20px
.main-nav__item--reviews::before
	content: "\f0c0"
	font-family: 'fontawesome'
	position: absolute
	top: 50%
	transform: translateY(-50%)
	left: -15px
	font-size: 20px
.main-nav__item--contacts::before
	content: "\f041"
	font-family: 'fontawesome'
	position: absolute
	top: 50%
	transform: translateY(-50%)
	left: -10px
	font-size: 20px

.hamburger-inner,.hamburger-inner::before, .hamburger-inner::after
	background: $accent 
	height: 2px
	width: 34px
	border-radius: 0
	z-index: 100

.main-header
	min-height: 700px
	height: 100vh
	background: url("../img/header/fon-header_1.jpg") #B8CACE
	background-repeat: no-repeat
	background-position: center
	background-size: auto
	position: relative

.main-header__topline
	padding-top: 20px
	z-index: 1

.main-header__logo
	margin-left: 40px
	display: flex
	flex-direction: column

.logo__img
	
	width: 190px
	height: 53px
	border: $accent 2px dotted
	font-family: marckscript
	font-weight: 700
	font-size: 40px
	line-height: 55px
	margin: auto

.logo__promo
	width: 193px
	font-size: 11px
	text-align: center
	margin-top: 10px
	margin-bottom: 0
	margin: auto
	.logo__wrap
		white-space: nowrap

.main-header__phonebox
	position: relative
	margin-top: 0
	margin-left: 36%
	width: 230px
	display: flex
	align-items: start
	flex-direction: column
.main-header__phone-items
	margin: 0
	margin-bottom: 10px
	position: relative
		
.main-header__phone-items::after
	content: "\f095"
	position: absolute
	top: 50%
	transform: translateY(-50%)
	font-family: fontawesome
	left: -30px
	color: $accent
	opacity: 0.8

.main-header__btn
	width: 190px
	font-size: 15px

	
.main-header__phone-item
	display: block
	font-size: 20px
	line-height: 22px
	white-space: nowrap
.main-header__promo
	display: flex
	height: 100%
	max-width: 70%
	margin-top: 40px
.main-heder__center
	margin: auto
.main-header__title
	margin: 0 auto
	padding: 0
	max-width: 545px
	font-size: 26px
	text-align: center
	padding: 5px 10px
	background-color: rgba(0, 0, 0, .5)
	color: #fff
		
.caps
	text-transform: uppercase
.main-header__features
	margin-top: 40px
	display: flex

.features__items
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		margin: 0
		padding: 0
		max-width: 555px
		margin: auto

.features__item
	margin: 0
	padding: 0
	list-style: none
	width: 140px
	height: 40px
	background-color: rgba(255, 255, 255, .8)
	border-bottom-right-radius: 50px
	border-top-right-radius: 50px
	font-size: 18px
	margin-top: 10px
	padding-left: 40px
	padding-right: 10px
	position: relative
	text-align: left
	&::before
		content: ""
		display: block
		width: 40px
		height: 40px
		position: absolute
		left: 0
		top: 0
		background: url("../img/header/6-kutnik3.png")
		background-position: center
		background-size: cover
	&::after
		content: ""
		display: block
		width: 40px
		height: 40px
		position: absolute
		left: 0
		top: 0
		background: url("../img/icons_sprite_2.png")
		background-size: 340%
	&:nth-child(1)::after
		background-position: -70px -59px
	&:nth-child(2)::after
		background-position: 101px 42px
	&:nth-child(3)::after
		background-position: -2px 42px
	&:nth-child(4)::after
		background-position: 65px 76px
	&:nth-child(5)::after
		background-position: 99px 78px
	&:nth-child(6)::after
		background-position: -2px 76px
	&:nth-child(7)::after
		background-position: 65px 110px
	&:nth-child(8)::after
		background-position: 98px 9px
	&:nth-child(9)::after
		background-position: 134px 10px
		
	h6
		display: inline-block
		vertical-align: center

.main-header__composition
	text-align: center

.main-header__utp
	display: inline-block
	margin-top: 40px
	padding: 5px 20px
	width: 530px
	text-align: center
	max-width: 400px
	border: solid 2px $accent
	color: $black
.main-header__buttons
	display: flex
	width: 330px
	justify-content: space-between
	margin: auto
	margin-top: 40px
.main-header__btn-more
	background: $accent
	color: #fff
	&:hover
		color: #fff
		background-color: $light

.company
	padding-top: 50px
	padding-bottom: 50px
	text-align: center
	background-color: rgba(17, 34, 34, .07)
	
	.logo__img
			border: none

.company__list,
.stainless-advantages__list,
.galery__list,
.problems__list,
.benefits__list
	padding: 0
	list-style: none

.company__list
	display: flex
	flex-wrap: wrap
	flex-shrink: 0
	position: relative

.company__item
	width: 252px
	min-height: 340px
	margin: auto
	margin-top: 10px
	position: relative
	.hexagon
		left: 5px
.company__accent-text
	font-size: 40px
	color: #fff
	font-weight: 700
	margin: 0
	margin-top: 79px
	text-align: center
.company__content
	font-weight: 700
	margin-top: 105px
		
		
.form-10p
	padding: 50px 0
	text-align: center
	background-color: #999
	position: relative
	background: url(../img/form-10p/fon-form-10p.jpg)
	background-position: center
	background-repeat: no-repeat
	color: #fff
	+inverse

.form-10p__input-wrapper
	display: flex
	justify-content: space-around
	flex-wrap: wrap
	flex-shrink: 0
	align-items: flex-start

	.form-10p__btn
		background-color: $accent
	.form-10p__btn:hover
		color: $grau
.form-10p__input,
.form-10p__btn
	width: 192px
	height: 32px
	box-sizing: border-box
	padding: 0
	margin: 0
	background: none
	border: 1px solid $accent
	color: #fff
	border-radius: 3px

.form-10p__input
	padding: 0 15px
	padding-right: 30px
	font-size: 16px

.form-10p__icon
	margin: 0
	position: relative
	line-height: 16px
	
.form-10p__icon:before
	content: "\f095"
	position: absolute
	top: 8px
	right: 5px
	font-family: fontawesome
	display: block

.form-10p__text
	font-size: 16px
	line-height: 18px
	margin-top: 20px
	position: relative

.form-10p__call-you
	position: relative
	padding-left: 25px
	&::before
		content: "\f095"
		position: absolute
		top: 0px
		left: 0px
		font-family: fontawesome
		display: block

		
//callback
.callback__wrapper
	width: 530px
	min-height: 90px
	margin: auto
	display: flex

.callback__content
	width: 530px
	height: 85px
	color: $black
	margin: auto
	font-size: 25px
	text-align: center
	border-left: 3px solid $accent
	border-right: 3px solid $accent
	border-radius: 5px
	position: relative

.callback__content::after 
	position: absolute
	content: ""
	width: 100%
	height: 3px
	bottom: 0
	left: 0
	Background-image: linear-gradient(90deg, $accent 0%, $accent 20%, transparent 20%, transparent 80%, $accent 80%, $accent 100%)

.callback__content::before 
	position: absolute
	content: ""
	width: 100%
	height: 3px
	top: 0
	left: 0
	Background-image: linear-gradient(90deg, $accent 0%, $accent 10%, transparent 10%, transparent 90%, $accent 90%, $accent 100%)

.callback__text
  display: block
  margin-top: -13px
  font-size: 20px
  font-weight: 700
  text-align: center
  line-height: 26px
 
.callback__btn
	position: relative
	top: 8px
//callback кінець	

.stainless-advantages
	padding-top: 50px
	padding-bottom: 50px
	text-align: center
	
.stainless-advantages__list
	display: flex
	flex-wrap: wrap
	flex-shrink: 0

.stainless-advantages__item
	width: 252px
	min-height: 340px
	position: relative
	margin: auto
	margin-top: 10px
	.hexagon
		background-image: none
		background-size: auto
		background-color: $accent
	&::before
			content: ""
			width: 210px
			height: 210px
			display: block
			background-size: auto 114px 
			background-repeat: no-repeat
			background-position: 62px 58px
			z-index: 2
			position: absolute
			top: 0
			left: 0
	&:nth-child(1):before
		background-image: url(../img/adwantages-stainless/econom.png)
	&:nth-child(2):before
		background-image: url(../img/adwantages-stainless/4.png)
	&:nth-child(3):before
		background-image: url(../img/adwantages-stainless/estetic.png)
	&:nth-child(4):before
		background-image: url(../img/adwantages-stainless/koroziyna_st.png)
	&:nth-child(5):before
		background-image: url(../img/adwantages-stainless/jarostiykist.png)
	&:nth-child(6):before
		background-image: url(../img/adwantages-stainless/micnist.png)
.stainless-advantages__content
	margin: 0
	margin-top: 247px
	font-size: 16px
	line-height: 20px
	.accent-text
		display: block
		font-size: 20px
			

		
.galery
	padding-top: 50px
	padding-bottom: 50px
	text-align: center
	
.galery__list
	display: flex
	flex-wrap: wrap
	flex-shrink: 0

.galery__item
	width: 200px
	height: 230px
	background: #999
	margin: auto
	margin-top: 10px

.problems
	padding-top: 50px
	padding-bottom: 50px
	text-align: center
	
.problems__list
	display: flex
	flex-wrap: wrap
	flex-shrink: 0

.problems__item
	width: 200px
	height: 230px
	background: #999
	margin: auto
	margin-top: 10px
 
.benefits
	padding-top: 50px
	padding-bottom: 50px
	text-align: center
	
.benefits__list
	display: flex
	flex-wrap: wrap
	flex-shrink: 0

.benefits__item
	width: 200px
	height: 230px
	background: #999
	margin: auto
	margin-top: 10px
 
.reviews
	text-align: center
	
	
.reviews__list
	


.reviews__item
	p
		margin: 0px 150px
	&::before,::after

.reviews__callback
	.logo__img
		border: none
	.callback__btn
		top: -22px

.feedback__title
	text-align: center
	

.feedback__form
	width: 335px
	min-height: 490px
	background: #999
	margin: auto

.main-footer

	&__logo,
	&__phonebox
		display: flex
		flex-shrink: 0
		justify-content: space-between
		margin: auto
		align-items: flex-start
		flex-wrap: wrap

.main-footer__phone-items,
.main-footer__btn,
.logo__img,
.logo__promo
	margin: auto

//owl-carousel
.owl-carousel .owl-dots.disabled
	display: block

.owl-carousel .owl-dot
	background: #000

.owl-dots
	width: 100%
	text-align: center
	margin-top: 60px
	.owl-dot
		width: 8px
		height: 8px
		background-color: #999
		border-radius: 10em
		display: inline-block
		margin: 4px
		transition: background-color .25s ease, transform .25s ease
		
		&.active
			background-color: $accent
			transform: scale(1.3)
			border: none
			
@import "media" // Always at the end
